{{- if in site.BaseURL "github.io" }}
<meta http-equiv="refresh" content="0; url={{ .Permalink | replaceRE `zhao818\.github\.io/world-corner-blog` `blog.worldcorner.xyz` }}">
<link rel="canonical" href="{{ .Permalink | replaceRE `zhao818\.github\.io/world-corner-blog` `blog.worldcorner.xyz` }}">
{{- end }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@600;700;800&family=JetBrains+Mono:wght@400;600&display=swap" rel="stylesheet">
